<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus v-model="addTodoInputField.value" @keydown="$evt.keyCode === 13 ? addTodo() : void 0">
			</header>
			<section class="main" v-if="todos.all.length">
				<input id="toggle-all" class="toggle-all" type="checkbox" @click="toggleAllComplete()">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li v-for="todo in todos.all" :class="(todo.completed ? 'completed' : '')">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="todo.completed">
							<label>{{todo.text}}</label>
							<button class="destroy" @click="remove(todo)"></button>
						</div>
					</li>
				</ul>
			</section>
			<footer class="footer" v-if="todos.all.length">
				<span class="todo-count"><strong>{{todos.all.length - todos.completed.length}} </strong>item(s) left</span>
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<button class="clear-completed" @click="clearCompleted()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://pixldev.netlify.app/">pixldemon</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script type="module" src="js/main.js"></script>
	</body>
</html>
